rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menuHistory/{docId} {
      allow read, write: if true;
    }
    match /checklist/{docId} {
      allow read, write: if true;
    }
    match /vaultFolders/{docId} {
      allow read, write: if true;
    }
    match /vaultFiles/{docId} {
      allow read, write: if true;
    }
    match /gemini_API/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /tokenUsage/{docId} {
      allow read, write: if true;
    }
    match /vaultConfig/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /flightConfig/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /maps_API/{docId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
